.container{
    display: flex;
background-color: aqua;
justify-content: space-between;

}

.block1{
 display: flex;
    background-color: red;
    color: aliceblue;
    
    flex-direction: column;
    flex-grow: 1;

}
/*.container> div{
    display: flex;
    background-color: black;
    color: aliceblue;
    flex-wrap: wrap;
    
    flex-direction: column;

}*/
.block2{
    display: flex;
    flex-grow: 1;  
    background-color: black;  
    padding: 15px;
    margin: 2px;
    

    
}